.Web{color:#2196F3;
    padding-top: 15px;
}
    

.Hero-title{background: #AF303A;
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    padding top: 80px;
    position: center;
    
}
.number{padding-top:15px;}
.button{color:aqua;
padding: 15px;}